body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: blanchedalmond;
}
form {
    margin-bottom: 20px;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: cadetblue;
}
tr{
    background-color: white;
}
input{
    border-radius: 10px;
}
label{
    font-style: italic;
    font-size: larger;
}